
* {
    border: none;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
}



body {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: $main-bg-color;
    color: $main-text-color;
    font-family: $default-family;
    font-size: 16px;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(10, 90, 128) 0%, rgb(41, 164, 221) 100% );
    font-size: 10px;
}


a{
    display: block;
    color: white;

    
    margin: 1rem 0;;
}



.new-message {
    padding: 10px;
    background-color: rgb(11, 11, 192);
    color: white;

    border-radius: 8px;
    float: left;
    clear: both;
}



.my-message {
    background-color: rgb(5, 66, 5);
    float: right;
}