// h1 {
 
//     border: 2cm;
// }

#chat-container {
    display: grid;
    grid: 
        'search-container chat-title' 71px
        'conversation-list chat-message-list' 1fr
        'new-message-container chat-form' 78px
        /275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 95vh;
    background: #fff;
    border-radius: 10px;
}

#search-container,
#conversation-list,
#new-message-container {
    background: #0048aa;
}

#search-container {
    grid-area: search-container;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px black;
    z-index: 1;
}

#new-message-container {
    grid-area: new-message-container;
    border-top: 1px solid black;
    border-radius: 0 0 0 10px;
}

#chat-title,
#chat-form {
    background: white;
}